body {
    background-image: url("../images/background_placeholder.jpg");
    background-repeat: no-repeat;
    margin: auto;
}

/* Landing Page CSS */
.top {
    height: 200px;
}

#landPage {
    height: 750px;
}

#bigHello {
    color: #ffffff;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}
.introText {
    color: aquamarine;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 40px;
}
#box {
    text-decoration: line-through;
}

#boxPage {
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 25px;
    width: 60%;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 100px;
    margin: auto;
    height: 300px;
}
#joke {
    color: aquamarine;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
}

/* Nav Bar */
#navBar {
    background-color: #333333;
    height: 60px;
    overflow: hidden;
    position: sticky;
    top: 0;
    margin: 0;
}

#links {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

a {
    color: aquamarine;
}

a:link {
    text-decoration: none;
    padding: 20px;
}

/* Headers */
.header-titles {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* About Me */
#about-me {
    background-color: #ffffff;
    height: auto;
    overflow: auto;
}
.bioInfo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    padding-right: 40px;
}

#mermaid {
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    float: left;
}
.mermaidInfo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #333333;

}

#icon {
    width: 30px;
    height: auto;
    padding-right: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Design */

#design {
    background-color: #131b3d;
    height: auto;
    overflow: auto;
}

#designHead {
    color: #ffffff;
}

#dragon {
    width: 300px;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#comingSoon {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #ffffff;
}
/* Portfolio */
#portfolio {
    background-color: #f0f0f0;
    height: auto;
    overflow: auto;
}
.work {
    padding: 20px;
}

.container {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background-color: #ffffff;
    
}

.pic {
    width: 500px;
    height: auto;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.linkBtn {
    background-color: aquamarine;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
}

/* Contact */
#contact-info {
    background-color: #ffffff;
    height: 980px;
}

#simpleText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #333333;
    text-align: center;
}

form {
    background-color: #f0f0f0;
    padding: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
#namebox, #emailbox {
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 10px;
    width: 45%;
}
#namebox {
    float: left;
}
#emailbox {
    float: right;
}
#messagebox {
    height: 200px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;

}
.submit {
    background-color: aquamarine;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #333333;
    height: 60px;
}
#foot-text {
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 20px;
    

}
#twitterLink {
    width: 34px;
}

#socialLinks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Media Queries */

@media screen and (max-width: 667px) {
    #bigHello {
        font-size: 50px;
    }
    .introText {
        font-size: 20px;
        line-height: 25px;
    }
    #boxPage {
        padding: 36px;
    }
    .top {
        height: 80px;
    }
    #landPage {
        height: 550px;
    }
    #links {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: lighter;
        font-size: 14px;
    }
    .mermaidInfo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        color: #333333;
        text-align: center;
    }
    #mermaid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #icon {
        width: 50px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .bioInfo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        text-align: center;
    }
    form {
        background-color: #f0f0f0;
        padding: 40px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }
    #namebox {
        float: none;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
    }
    #emailbox {
        float: none;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
    }
}
