/* Landing Page CSS */
#landPage {
    background-color: #474747;
    height: 960px;
}

#bigHello {
    color: #ffffff;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.introText {
    color: aquamarine;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    line-height: 45px;
    position: relative;
}

#boxPage {
    border-style: solid;
    border-width: 4px;
    border-color: aquamarine;
    width: 50%;
    padding: 30px;
    margin: auto;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 80%;
}

/* Nav Bar */
#navBar {
    background-color: #333333;
    height: 60px;
    overflow: hidden;
}

#links {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

a {
    color: aquamarine;
}

a:link {
    text-decoration: none;
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
/* Headers */
.header-titles {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* About Me */
#about-me {
    background-color: #ffffff;
}

/* Portfolio */
#portfolio {
    background-color: #f0f0f0;

}

/* Contact */
#contact-info {
    background-color: #777777;
}